@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap');
@import "components/navbar";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.hero {
    width: 100vw;
    height: 100vh;
    background: rgb(236, 195, 58);
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../../media/wallpaper.jpg) no-repeat center;
    background-size: cover;
    @media all and (max-width: 700px) {
        background: url(../../media/wallpaper.jpg) no-repeat 70%;
        background-size: cover;
    }
    .center-content {
        width: 80%;
        height: 80%;
        // background: white;
        display: flex;
        justify-content: flex-start;
        .left-content {
            // background: red;
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            @media all and (max-width: 700px) {
                width: 100%;
                align-items: center;
            }
            .text-welcome {
                font-style: normal;
                font-weight: bold;
                font-size: 3em;
                background: #1A1B41;
                color: white;
                padding: 0.3em;
                @media all and (max-width: 700px) {
                    font-size: 2em;
                }
            }
            .text-bible {
                background: #F1FFE7;
                padding: 0.8em;
                max-width: 400px;
                @media all and (max-width: 700px) {
                    font-size: 0.5em;
                }
            }
        }
    }
}